body {
  max-width: 600px;
}

hr{
    border: none;
}

hr:after{
  content: '∿∿∿∿∿∿∿∿';
  /* ratio: font-size/letter-spacing = 6.25 */
  letter-spacing: -3.2px;
  font-size: 20px;
}

nav > a {
  padding-right: 8px;
}
