---
---

:root {
    color-scheme: light dark;
    --lighter: #fff;
    --light: #efefef;
    --dark: #404040;
    --darker: #000;
    border-top: 0.3em solid var(--dark);
    line-height: 1.4em;
    font-family: system-ui, sans-serif;
}

* {
    box-sizing: border-box;
    color: var(--darker);
}

h1 {
    line-height: 1.2em;
    font-size: 1.7em;
    margin-bottom: 0.2em;
}

button, input {
    font-size: 1em; /* Override browser default font shrinking*/
}

input {
    border: 1px solid var(--dark);
    background-color: var(--light);
    border-radius: .25em;
    padding: .5em;
}

pre {
    background-color: var(--light);
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em;
    overflow: auto;
}

body {
    background-color: var(--lighter);
    margin: 0;
    max-width: 40em;
    padding: 0 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

header {
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: 600;
}

nav a {
    padding-right: 0.5em;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none
}

main a {
    font-weight: 450;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border: none;
    height: 0.1em;
    color: var(--darker);
    background-color: var(--darker);
}

button, .button, input[type=submit] {
    display: inline-block;
    background-color: var(--dark);
    color: var(--lighter);
    text-align: center;
    padding: .5em;
    border-radius: .25em;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

button:hover, .button:hover, input[type=submit]:hover {
    color: var(--light);
    background-color: var(--darker);
}

/* Add a margin between side-by-side buttons */
button + button, .button + .button, input[type=submit] + input[type=submit] {
    margin-left: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bordered {
    border: 3px solid;
}

/* Desktop sizes */
@media (min-width: 600px) {
    ol.twocol {
        column-count: 2;
    }

    .row {
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 100%;
    }

    .row > * {
        display: block;
        flex: 1 1 auto;
        max-width: 100%;
        width: 100%;
    }

    .row > *:not(:last-child) {
        margin-right: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --lighter: #222;
        --light: #333;
        --dark: #eee;
        --darker: #fefefe;
    }
}
