---
---

:root {
    color-scheme: light dark;
    --lighter: #fff;
    --light: #fafafa;
    --dark: #222;
    --darker: #000;
    line-height: 1.5em;
    font-size: 16px;
    font-family: system-ui, sans-serif;
}

* {
    box-sizing: border-box;
    color: var(--darker);
}

body {
    background-color: var(--light);
    margin: 0 auto;
    max-width: 40em;
    padding: 0 20px 20px 20px;
}

main {
    line-height: 1.6em;
}

h1 {
    line-height: 1.2em;
    font-size: 1.8em;
    margin-bottom: .2em;
}

h1, h2, h3, h4 {
    font-weight: 550;
}

button, input {
    font-size: 1em;
}

input, textarea, pre {
    border: 1px solid var(--dark);
    background-color: var(--lighter);
    border-radius: .25em;
    padding: .5em;
    margin: .5em 0 .5em 0;
    overflow: auto;
}

figcaption, code {
    font-size: 14px;
}

a,
a:hover {
    text-decoration: underline;
    text-decoration-color: dodgerblue;
    text-decoration-thickness: .1em;
}

header {
    font-size: 24px;
    margin: .83em 0;
    font-weight: 550;
}

header a {
    text-decoration: none;
}

nav a {
    padding-right: .5em;
    font-weight: 500;
    text-decoration: none;
}

strong {
    font-weight: 640;
}

main a {
    font-weight: 430;
}

blockquote {
    border-left: .15em solid var(--dark);
    padding: 0 .4em;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border: none;
    height: 2px;
    color: var(--darker);
    background-color: var(--darker);
}

button, input[type=submit] {
    display: inline-block;
    background-color: var(--dark);
    color: var(--lighter);
    padding: 8px;
    border-radius: .25em;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

button:hover, input[type=submit]:hover {
    color: var(--light);
    background-color: var(--darker);
}

@media (prefers-color-scheme: dark) {
    :root {
        --lighter: #111;
        --light: #222;
        --dark: #eee;
        --darker: #fff;
    }
}
