---
---

:root {
    color-scheme: light dark;
    --light: #fff;
    --dark: #222;
    --darker: #000;
    line-height: 1.6;
    font-size: 16px;
    font-family: system-ui, sans-serif;
}

* {
    box-sizing: border-box;
    color: var(--darker);
}

body {
    background-color: var(--light);
    margin: 0 auto;
    max-width: 40em;
    padding: 20px;
}

h1 {
    font-size: 30px;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    font-weight: 550;
    margin-bottom: 0;
}

input, textarea, pre {
    border: 1px solid var(--dark);
    background-color: var(--light);
    border-radius: .25em;
    padding: .5em;
    margin: .5em 0;
    overflow: auto;
}

figcaption, code {
    font-size: 14px;
}

a,
a:hover {
    text-decoration: underline;
    text-decoration-color: dodgerblue;
    text-decoration-thickness: .1em;
}

header {
    font-size: 24px;
    margin-bottom: .2em;
    font-weight: 550;
}

header a {
    text-decoration: none;
}

nav a {
    margin-right: 12px;
    font-weight: 500;
    text-decoration: none;
}

strong {
    font-weight: 650;
}

main a {
    font-weight: 430;
}

blockquote {
    border-left: 2px solid var(--dark);
    padding-left: 1em;
    margin-left: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border: none;
    height: 2px;
    color: var(--dark);
    background-color: var(--dark);
}

button, input[type=submit] {
    padding: 8px;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    :root {
        --light: #111;
        --dark: #eee;
        --darker: #fff;
    }
}
