---
---

:root {
    color-scheme: light dark;
    --bg: #fff;
    --fg: #000;
    line-height: 1.6;
    font-size: 16px;
    font-family: system-ui, sans-serif;
}

* {
    box-sizing: border-box;
    background-color: var(--bg);
    color: var(--fg);
}

body {
    margin: 0 auto;
    max-width: 40em;
    padding: 1.25em;
}

h1 {
    font-size: 1.75em;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    font-weight: 550;
    margin-bottom: 0;
}

input, textarea, pre {
    border: 1px solid var(--fg);
    border-radius: .25em;
    padding: .5em;
    margin: .5em 0;
    overflow: auto;
}

figcaption, code {
    font-size: 0.9em;
}

a,
a:hover {
    text-decoration: underline;
    text-decoration-color: dodgerblue;
    text-decoration-thickness: .1em;
}

header {
    font-size: 1.5em;
    margin-bottom: .2em;
    font-weight: 550;
}

header a {
    text-decoration: none;
}

nav a {
    margin-right: 1em;
    font-weight: 500;
    text-decoration: none;
}

strong {
    font-weight: 650;
}

blockquote {
    border-left: 2px solid var(--fg);
    padding-left: 1em;
    margin-left: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border: none;
    height: 2px;
    color: var(--fg);
    background-color: var(--fg);
}

button, input[type=submit] {
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #15161b;
        --fg: #fff;
    }
}
