---
---

// Writing
.footnotes {
  font-size: 14px;
}

.footnotes::before {
  font-weight: 640;
  content: "Notes:";
}

// Anchor links
a.anchor {
  opacity: 0;
}

*:hover>.anchor, a.anchor:hover {
  opacity: 1;
}

// Syntax
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  font-style: italic;
}
.highlight .cp {
}
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kr, .highlight .kv {
  font-weight: 640;
}
.highlight .kp {
}
.highlight .kt {
}
.highlight .o, .highlight .ow {
  font-weight: 640;
}
.highlight .nc {
  font-weight: 640;
}
.highlight .nn {
  font-weight: 640;
}
.highlight .ne {
  font-weight: 640;
}
.highlight .ni {
  font-weight: 640;
}
.highlight .nt {
  font-weight: 640;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  font-style: italic;
}
.highlight .sa {
  font-weight: 640;
}
.highlight .si {
  font-weight: 640;
}
.highlight .se {
  font-weight: 640;
}
.highlight .gh {
  font-weight: 640;
}
.highlight .gu {
  font-weight: 640;
}
.highlight .ge {
  font-style: italic;
}
.highlight .ges {
  font-weight: 640;
  font-style: italic;
}
.highlight .gs {
  font-weight: 640;
}
.highlight .gp {
  font-weight: 640;
}
.highlight .err {
  color: #FF0000;
}
