<!DOCTYPE html>
<html lang="en-gb">
  {% include head.html %}
  <body>
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a class="site-title" href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <nav>
              <a href="{{ '/blog' | absolute_url }}">Blog</a>
              <a href="{{ '/now' | absolute_url }}">Now</a>
            </nav>
          </h3>
        </div>
      </div>
      <div class="container content">
        {{ content }}
        <footer class="footer">
          <small>
            Content is <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA</a>.
            <a href="{{ site.github.repository_url }}" target="_blank">Code</a> is <a href="{{ '/LICENSE.txt' | absolute_url }}">MIT</a>.
          </small>
        </footer>
      </div>
    </div>
    <script src="{{ '/public/js/anchor.min.js' | absolute_url }}"></script>
    <script>
      anchors.add();
    </script>
  </body>
</html>
