<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.title == '' -%}
    <title>{{ site.title }} | {{ site.description }}</title>
    {% else -%}
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta property="og:title" content="{{ page.title }}">
    <meta property="twitter:title" content="{{ page.title }}">
    {% endif -%}
    <meta name="author" content="{{ site.author.name }}">
    {% if page.excerpt -%}
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines }}">
    <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}">
    {% else -%}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
    {% endif -%}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <link rel="stylesheet" href="/public/css/s.css">
    {% if page.url != '/' -%}
    <link rel="stylesheet" href="/public/css/x.css">
    {% endif -%}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/feed.xml' | absolute_url }}">
    <script defer data-domain="ferrad.as" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <header>{{ site.title }}</header>
    <nav>
      <a href="/">Start</a>
      <a href="/blog">Blog</a>
      <a href="/contact">Contact</a>
      <a href="/now">Now</a>
      <a href="/projects">Projects</a>
    </nav>
    <hr>
    <main>
      {{ content -}}
    </main>
    {% if page.url != '/' -%}
    <script src="{{ '/public/js/anchor.min.js' | absolute_url }}"></script>
    <script>
      anchors.options.placement = 'left';
      anchors.add('article h2, article h3, article h4');
    </script>
    {% endif -%}
  </body>
</html>
